<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gebeya.contractm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cmlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cmlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".activities.ui.UpdateForm"></activity>
        <activity android:name=".activities.ui.ShowForm" />
        <activity
            android:name=".activities.ui.FormContract"
            android:theme="@style/AppTheme.ActionBar.NoActionBar" />
        <activity
            android:name=".activities.ui.DetailTemp"
            android:theme="@style/AppTheme.ActionBar.NoActionBar" />
        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.ActionBar.NoActionBar" />
        <activity android:name=".activities.Profile" />
        <activity
            android:name=".activities.Registor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Navigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>